#container {
    display: flex;
    justify-content: center;
}

.board {
    width: 400px;
}

#sidebar {
    margin-left: 20px;
    width: 300px;
}

.info {
    margin-bottom: 20px;
}

.chat-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #f9f9f9;
}

.chat-input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#chat-btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
